﻿@model HazardApproverMVC.Models.Post
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EmergencyTitle, new { htmlAttributes = new { @class = "form-control" } })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyBody, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EmergencyBody, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VenueName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.VenueName, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Approved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="checkbox" style="margin-left:130px">
                @Html.EditorFor(model => model.Approved, new { htmlAttributes = new { @class = "control-label col-md-2" } })

            </div>

        </div>

        <div class="form-group  ">
            <div class="control-label col-md-4">
                <input type="submit" value="Approve" class="btn btn-success" />
            </div>

        </div>
    }
</div>

